image: thomaschln/r-devtools

# gitlab-ci file inspired from https://www.r-bloggers.com/developing-r-packages-with-usethis-and-gitlab-ci-part-iii/

variables:
  R_LIBS_DIR: "$CI_PROJECT_DIR/ci/lib"
  CHECK_DIR: "$CI_PROJECT_DIR/ci/logs"
  BUILD_LOGS_DIR: "$CI_PROJECT_DIR/ci/logs/$CI_PROJECT_NAME.Rcheck"

cache:
  paths:
  - $R_LIBS_DIR

before_script:
  - export R_LIBS_USER=$R_LIBS_DIR/$(R --version | sed -n 1p| sed -r 's/.*([0-9]\.[0-9]\.[0-9]).*/\1/')
  - echo $R_LIBS_USER
  - mkdir -p $R_LIBS_USER $BUILD_LOGS_DIR
  - ls $R_LIBS_DIR
  # delete other R version libs
  - find $R_LIBS_DIR/* -maxdepth 0 ! -name $(basename $R_LIBS_USER) -type d -exec rm -r {} +
  - ls $R_LIBS_DIR
  - echo '.libPaths("'${R_LIBS_USER}'")' > .Rprofile
  - apt-get update
  - apt-get install -y qpdf pandoc

stages:
  - deps
  - check
  - deploy

deps:
  stage: deps
  script:
  - R -e 'remotes::install_cran("liquidSVM", repos="http://pnp.mathematik.uni-stuttgart.de/isa/steinwart/software/R", build_opts="--no-multiarch")'
  - R -e 'remotes::install_packages("rgdal")'
  # - R -e 'remotes::install_github("r-spatial/stars")'
  - R -e 'remotes::install_deps(dependencies=T)'

check:
  stage: check
  script:
  - R -e 'devtools::check(check_dir = Sys.getenv("CHECK_DIR"), error_on = "error")'
  - R -e 'devtools::install()'

pages:
  stage: deploy
  script:
  - R -e 'remotes::install_github("r-lib/pkgdown")'
  - R -e 'devtools::document()'
  - R -e 'pkgdown::build_site()'
  # - grep gitlab docs/reference/PRO4SAIL.html
  - mv docs public
  artifacts:
    paths:
    - public

  only:
  - master

